* {
    font-family: "Noto Sans", Verdana, sans;
    line-height: 1.7;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    margin: 0 auto;
    max-width: 700px;
}

body {
    background-color: #f0f0f0;
}

footer {
    background-color: #d0d0d0;
    padding: 0px 5px;
    border-radius: 5px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 550;
}

code {
    padding: 2px 5px;
    border-radius: 5px;
    background-color: rgba(0,0,0, 0.13);
}
